body {
  font-family: "Roboto", sans-serif;
  box-sizing: content-box;
  overflow-x: hidden;
}

.nav-bar {
  background-color: white;
  padding: 1% 1% 0;
}

.tab-content {
  margin: 1%;
  padding: 0;
}

.section-body {
  margin: 2%;
}

.section-img {
  margin: 2%;
  margin-right: 3%;
  float: right;
  width: 10%;
  min-width: 260px;
}

@media (max-width: 900px) {
  .section-img {
    display: none;
  }
}
