/* Body Styling*/
body {
  font-family: "Roboto", sans-serif;
  box-sizing: content-box;
  overflow-x: hidden;
}
/* nav-bar styling */
.nav-bar {
  background-color: white;
  padding: 1% 1% 0;
}

/* Section styling*/
section {
  margin: 1% auto 2%;
  overflow: hidden;
}

.tab-content {
  margin: 1%;
  padding: 0;
}

.section-body {
  margin: 2%;
}

.section-img {
  margin: 2%;
  margin-right: 3%;
  float: right;
  width: 10%;
  min-width: 260px;
}

.group-list {
  margin-bottom: 2%;
  width: 40%;
}

.project {
  margin: 0 1% 2%;
  overflow: hidden;
  width: 40%;
}

.project .section-img {
  float: none;
  position: relative;
  right: -50%;
  transform: translateX(-50%);
  width: 80%;
}

.project h3 {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

/* Link Styling */
.list-group-item {
  width: 75%;
}

.project-link,
.contact-links-list a {
  text-decoration: none;
}

.project-link:hover,
.contact-links-list a:hover {
  color: #6d737e;
  opacity: 0.5;
}

.project p {
  text-align: center;
}

/* List styling */
.project-skills-list,
.contact-links-list {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.project-skills-list li {
  margin: 1%;
}

.project-skills-list li:hover {
  background-color: inherit;
  color: #212429;
}

.contact-links-list {
  margin-bottom: 2%;
}

.contact-links-list li {
  margin-right: 2%;
}

/* Mobile styling */
@media (max-width: 900px) {
  section > h1 {
    margin: 5% auto;
  }
  .about .section-img {
    display: none;
  }
  .project {
    width: 100%;
  }
  .group-list {
    width: 100%;
  }
}
