/* body styling*/
body {
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
}

/* navbar styling */
.nav-bar {
  background-color: white;
  box-shadow: 0 0 5px 0 #dee1e6, 0 0 5px 0 #dee1e6;
  padding: 1% 1% 0;
}

/* tab content container styling */
.tab-content {
  margin: 1% auto;
  padding: 0 0 0 1%;
}

/* section styling*/
section {
  margin: 1% auto 2%;
  overflow: hidden;
}

.section-body {
  margin: 2%;
}

.section-img {
  margin: 2%;
  margin-right: 3%;
  float: right;
  width: 10%;
  min-width: 260px;
}

/* group list styling */
.group-list {
  margin-bottom: 2%;
  width: 40%;
}

.list-group-item {
  width: 75%;
}

/* projects styling */
.project {
  margin: 0 1% 2%;
  overflow: hidden;
  width: 40%;
}

.project .section-img {
  float: none;
  position: relative;
  right: -50%;
  transform: translateX(-50%);
  width: 80%;
}

.project h3 {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.project p {
  text-align: center;
}

/* links styling */
.project-link,
.contact-links-list a {
  text-decoration: none;
}

.project-link:hover,
.contact-links-list a:hover {
  color: #6d737e;
  opacity: 0.5;
}

/* List styling */
.project-skills-list,
.contact-links-list {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.project-skills-list li {
  margin: 1%;
}

.project-skills-list li:hover {
  background-color: inherit;
  color: #212429;
}

.contact-links-list {
  margin-bottom: 2%;
}

.contact-links-list li {
  margin-right: 2%;
}

/* scroll up button styling */
.scroll-up {
  background-color: white;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

/* mobile styling */
@media (max-width: 900px) {
  section > h1 {
    margin: 5% auto;
  }
  .about .section-img {
    display: none;
  }
  .project {
    width: 100%;
  }
  .group-list {
    width: 100%;
  }
}
